.form-group>input{
    font-weight: bolder;
}

.font-group>select{
    font-weight: bolder;
}

.form-group input placeholder{
    color: adjust-color($color: #c07878);
}

table tbody tr:hover{
    background-color: #3c8ca0;
    cursor: pointer;
}

input.invalid{
    border-color: red;
}

div.validation-error{
    width: 100%;
    margin-top: .25em;
    font-size: 80%;
    color: #3c8ca0;
}

.card-body{
    padding: 0px;
}